<h1>Index of Applications</h1>
<% @applications.each do |application| %>
    <div class='container'>
    <h3> <%= application.title %></h3>
    <p> URL: <%= application.url %></p>
    <p> Created At: <%= application.created_at %></p>
</div>
<% end %>
