// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.nav {
    position: relative;
    background-color: gray;
}

.container {
    border: 3px, solid,gray;
    // border-radius: 10px;
}
.navbutton {
    position: relative;
    top: 12px;
    border-radius: 8px;
}
.site-name {
    position: relative;
    top: 12px;
    font-weight: bold;
    color: white;
    font-size: 200%;
    text-align: middle;
}